<section class="section section--tight">
  <div class="container">
    <div class="row gutter-bottom alert">
      <div class="col">
        <p id="notice"><%= notice %></p>
      </div>
    </div>

    <div class="row gutter-bottom page-header">
      <div class="col">
        <h1></h1>
      </div>
    </div>  

    <div class="row gutter-bottom page-content">
      <div class="col">
        
      </div>
    </div>  


    <div class="row gutter-bottom">
      <div class="col">
        
      </div>
    </div>

  </div>
</section>